<!-- <div class="container">
    <div class="details">
        <h1>login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label >Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email"/>
                </div>
                <div class="error-list" *ngIf = "fc['email'].errors && isSubmitted">
                    <div *ngIf=""fc[email].errors.required>Should not be empty</div>
                    <div *ngIf=""fc[email].errors.email>Email is incorrect</div>
                </div>
            </div>
            <div class="input-container">
                <label >Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password"/>
                </div>
                <div class="error-list" *ngIf = "fc['password'].errors && isSubmitted">
                    <div *ngIf=""fc[password].errors.required>Should not be empty</div>
                </div>
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>

        <!-- <form (ngSubmit)="submit()">
            <text-input   type="email" label="Email">
            </text-input>
            <text-input   type="password" label="Password">
            </text-input>

            <default-button text="Login"></default-button>

            <div class="register">
                New user? &nbsp;
                <a routerLink="/register">
                    Register here
                </a>
            </div>
        </form> -->
    <!-- </div>
</div> --> 

<div class="login-container">
    <div class="welcome-heading">
      Welcome
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-group" >
        <i class="fa fa-user icon" style="color: blue;"></i>
        <input type="text" name="username" formControlName="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <i class="fa fa-lock icon"  style="color: blue;"></i>
        <input type="password" name="password"  formControlName="password" placeholder="Password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="register-link">
      New User? <a routerLink="/create-students">Register here</a>
    </div>
  </div>