<mat-card >
    <mat-action-list >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image1"></div>
            <span style="margin:10 10 0 10" routerLink="/dashboard"><h3><b>Home</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <span style="margin:10px" routerLink="/dashboard/profile"><h3><b>Profile</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image3"></div>
            <span style="margin:10px" routerLink="/dashboard/categories"><h3><b>Categories</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image4"></div>
            <span style="margin:10px" routerLink="/dashboard/add-categories"><h3><b>Add Categories</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image5"></div>
            <span style="margin:10px" routerLink="/dashboard/quizzes"><h3><b>Quizzes</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image6"></div>
            <span style="margin:10px" routerLink="/dashboard/add-quiz"><h3><b>Add Quiz</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image7"></div>
            <span style="margin:10px" routerLink="/dashboard/add-quiz"><h3><b>Create Notes</b></h3></span>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image8"></div>
            <span style="margin:10px"><h3><b>Logout</b></h3></span>
          </mat-card-header>
    </mat-action-list>
</mat-card>